@model IEnumerable<DataDomain.CopyVM>

@{
    ViewData["Title"] = "CheckedOut";
}

<h1>Checked Out</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Condition)
                </td>
                <td>
                    <form asp-action="Checkin" method="post" asp-route-id="@item.CopyID">
                        <button type="submit" class="btn btn-outline-success">Checkin</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
