@using DataDomain;

@model DataDomain.Book

@{
    ViewData["Title"] = "Edit";
    IEnumerable<Copy> copies = ViewBag.Copies;
}

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div class="my-3">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Condition
                </th>
                <th>
                    Status
                </th>
                <th>
                    @*Button To Activate New Copy Modal*@
                    <button type="button" class="btn btn-outline-primary open-modal" data-bs-toggle="modal" data-bs-target="#addModal">
                        New
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var copy in copies)
            {
                <tr>
                    <td>
                        @copy.Condition
                    </td>
                    <td>
                        @if(copy.Active){
                            <p>In</p>
                        } else {
                            <p>Out</p>
                        }
                    </td>
                    <td>
                        @*Button To Activate Edit Copy Modal*@
                        <button type="button" class="btn btn-outline-warning open-modal edit-modal-button" data-bs-toggle="modal" data-bs-target="#editModal" data-condition="@copy.Condition" data-copyid="@copy.CopyID">
                            Edit
                        </button>
                        @* @Html.ActionLink("Delete", "Delete", new { id = copy.CopyID }) *@
                        <form asp-action="Delete" asp-controller="Copy" asp-route-copyId="@copy.CopyID" asp-route-bookId="@Model.BookID" method="post">
                            <button type="submit" class="btn btn-outline-danger">
                                @if (copy.Active)
                                {
                                    <nobr>Deactivate</nobr>
                                }
                                else
                                {
                                    <nobr>Activate</nobr>
                                }
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Create" asp-controller="Copy" asp-route-id="@Model.BookID" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addModalLabel">New Copy</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="condition" name="condition" required>
                        <label for="name">Condition</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Edit" asp-controller="Copy" asp-route-id="@Model.BookID" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalLabel">Edit Copy</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body edit-body">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="condition" name="condition" required>
                        <label for="condition">Condition</label>
                        <input type="hidden" id="copyId" name="copyId" value="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script defer src="~/js/update-copy.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
